################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/whu-c-study/v17
/.vs/whu-c-study
/Debug
*.docx
